@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 
body { 
  font-family: Roboto, Arial, sans-serif; 
  margin: 0;
  height: 100%;
  width: 100%;
} 
/*==================== page design =============*/
.sp-page{ 
  height: calc(100vh - 150px);
  margin: 1em; 
  background: white;
  padding-left: 14px;
}
.cb {
  height: 60px; vertical-align: middle;margin-right: 7px;
}  
.footer {  
  position: fixed; 
  bottom: 0; 
  height: fit-content; 
  width: 100%;
  display: block;
  margin-bottom: 10px;
}  
.pl-30{
  padding-left: 30px;
}
.formInput{
  width:100%;
}
.formInputCode{
  width:50%;
}
.appForm{
  height: calc(100%);
}
.contents{
  margin: auto;
  width: 50%; 
  padding: 10px;
  padding-top: 3%;
}
.largecontents{
  margin: auto;
  width: 95%; 
  padding: 10px;
  /*padding-top: 3%;*/
}
/* =============================================end =============================================== */
.spacer {
  flex: 1 1 auto;
} 
.font-faimly{ 
  font-family:roboto,sans-serif;
}
.icons{
  cursor: pointer;
}

.pointer{
  cursor: pointer;
} 
.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.lead {
  font-size: 1.50rem;
  font-weight: 300;
}

.bg-primary {
  background-color: #007bff !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #545b62 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #117a8b !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d39e00 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}

.bg-white {
  background-color: #fff !important;
}
.bg-side-bar {
  background-color:#36474F; 
}
.bg-transparent {
  background-color: transparent !important;
}


.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}


/* ---------------------------- Common Styles ------------------------------------ */
.page-toolbar {
  /* background-color: white; */
  background-color:#AED6F1; 
  /* rgb(228, 249, 250);  */
  /* background-color:black; #BDBCB9;  */
  color: black;  
  font-size: 12px;
  min-height: 22px !important;
  height: 22px !important;
  padding: 2px 24px 0;
}
.page-header{  
  min-height: 20px !important;
  height: 20px !important ;
 background-color: rgb(241, 239, 239); 
} 
/* ----------------------------------------------------------------------------------------------- */

/* ----------------------------internal Content List Pages Styles------------------------------------ */

.page-container {
  display: flex;
  flex-direction: column; 
  height: 77%;
} 
.page-filter { 
  padding: 0 24px 0;
  background-color: rgb(241, 239, 239); 
} 
.input-filter {
  font-size: 12px;
  width: 100%; 
} 
#addIcon{
  margin-right: 50px;
  text-align: right;
}
.mat-table  {
  overflow: auto;
  height: 100%; 
  cursor: pointer;
}
.highlight{
  background:  rgb(228, 249, 250);
}
 .mat-row:hover{ 
  background-color: rgb(228, 249, 250); 
}
 